extends layout
block head
  title Добрый эль
  link(rel='stylesheet', href='/assets/styleAdmin.css')
  link(rel="stylesheet", href="/assets/vendor.css")
block content
    .card.text-center
        .card-header
          .btn-group
            a.btn.btn-primary(href='/admin/news' ) Новости
            a.btn.btn-primary.active(href='/admin/product') Товары
        .card-body.mx-auto.w-100
            form.changes-new-or-old
                .mb-3
                    label.form-label Цена 
                    input.form-control(type='text' value=`${result.price}` name="price")
                .mb-3
                    label.form-label Название 
                    input.form-control(type='text'  value=`${result.name}` name="title")
                .mb-3
                    label.form-label Описание 
                    input.form-control(type='text' value=`${result.description}` name="description")
                  
                .mt-3.d-flex.justify-content-center(name="formBtn")
                    a(href="/admin/product").btn.btn-primary.card-body-news-CRUD__button-back.mr-3.float-left(type='submit') ← назад 
                    button.btn.btn-primary.float-left(type='submit' name="formBtn" data-type='update' data-url="/admin/product/update" data-id=result.id) Отправить
block footer
  script(src="/assets/vendor.js")
  script(src="/assets/admin.js")