@import './adaptiv.scss';
@import './utils/wrap.scss';
@import './block/header.scss';
@import './fonts.scss';

@import './block/product.scss';
@import "./block/product-card.scss";
@import "./block/news.scss";
@import "./block/news-card.scss";
@import "./block/footer.scss";
@import "./block/about.scss";
@import "./block/map.scss";
@import "./block/kontacts.scss";
@import "./block/adult.scss";

* {
    margin: 0;
    padding: 0;
}
body{
    background:#FAF4C0 ;
}
img{
    width: 100%;
    // height: 100%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #373737;
}