.product {
  background: #fff;
  border-radius: 8px 8px 0px 0px;
  margin-top: 80px;
  padding-bottom: 130px;
  cursor: pointer;

  &__title {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
    text-align: center;
    padding-top: 64px;
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 56px auto 0;
    width: 90%;

    @include _768 {
      justify-content: space-around;
    }
  }
}

.product-full {
  display: flex;
  position: fixed;
  left: 20%;
  background: #FFF;
  z-index: 1;
  top: 15%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  &__table {
    border-spacing: 4px;
  }

  &__bg {
    max-width: 500px;
  }

  &__body {
    width: 100%;
  }

  &__close {
    cursor: pointer;
  }

  &__description {
    display: flex;
    justify-content: space-between;
    padding: 16px;
  }

  &__descrit {
    font-size: 20px;
    text-align: center;
    display: block;
  }

  &__shodow {
    width: 100%;
    min-height: 100%;
    background: rgba(0, 0, 0, 0.75);
    z-index: 1;
    overflow: hidden;
    position: fixed;
    top: 0;
  }
}